<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body layout:fragment="body">
        <div class="container">
            <a th:href="@{/Alumno/Form/{idAlumno}(idAlumno=0)}" class="btn btn-success">+</a>
            <table class="table table-responsive table-bordered">
            <thead>
            <th class="text-center">Actualizar</th>
            <th class="text-center">Status</th>
            <th class="text-center">Nombre</th>
            <th  class="text-center">Apellido</th>
            <th  class="text-center">NombreCompleto</th>
            <!--Vanessa Cruz Calle:Insurgente,N°I:120,N°E:15,Col:Renacimiento,CP:06500,CDMX,Pais:Mexico-->
            </thead>
            <tbody>
                <tr th:each="alumno : ${Alumnos}">
                    <td><a th:href='@{/Alumno/Form/{idAlumno}(idAlumno=${alumno.IdAlumno})}' class="btn btn-warning"></a></td>
                    <td>
                       
                        <div class="form-check form-switch">
                            <input th:if="${alumno.Status == 0}" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" th:onchange="ChangeStatus(this,[[${alumno.IdAlumno}]])">
                            <input th:unless="${alumno.Status == 0}"class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked th:onchange="ChangeStatus(this,[[${alumno.IdAlumno}]])">
                        </div>
                        
                    </td>
                    <td th:text="${alumno.Nombre}"></td>
                    <td th:text="${alumno.Apellido}"></td>
                    <td th:text="|Nombre: ${alumno.Nombre}, Apellido: ${alumno.Apellido}|"></td>
                    <td th:text="|Calle: ${alumno.Direccion.Calle}, N°I: ${alumno.Direccion.NumeroInterior}|"></td>
                </tr>
            </tbody> 
        </table>
        </div>
        
    </body>
</html>

<script>
   function ChangeStatus(i,idAlumno){
   var newStatus = i.checked;
   $.ajax({
        url : '/Alumno/ChangeStatus',
        dataType : 'json',
        type: 'GET',
        data: {IdAlumno : idAlumno , Status : newStatus },
        success: {
        },
        error : function(error){
            alert();
        }
        ,
   });
   
   
   }
</script>
