<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}">
    <body layout:fragment="body">
        <div class="container">
            <form th:action="@{/Alumno/Form}" method="post" th:object="${Alumno}">
                <label>Nombre</label>
                <input type="text" placeholder="Ingresa tu nombre" th:field="*{Nombre}">
                <br>
                <label>Apellido</label>
                <input type="text" placeholder="Ingresa tu apellido" th:field="*{Apellido}">
                <br>
                <label>Fecha Nacimiento</label>
                <input type="text" placeholder="Ingresa tu Fecha" th:field="*{FechaNacimiento}">
                <br>
                <label>Genero</label>
                <input type="text" placeholder="Ingresa tu Genero" th:field="*{Genero}">
                <br>
                <label>Telefono</label>
                <input type="text" placeholder="Ingresa tu Telefono" th:field="*{Telefono}">
                <br>
                <label>Celular</label>
                <input type="text" placeholder="Ingresa tu Celular" th:field="*{Celular}">
                <br>
                <label>Email</label>
                <input type="text" placeholder="Ingresa tu Email" th:field="*{Email}">
                <br>
                <label>Semestre</label>
                <select th:field="*{Semestre.IdSemestre}">
                    <option value="0">Seleccione un Semestre</option>
                    <option th:each="semestre : ${Semestres}" th:value="${semestre.IdSemestre}" th:text="${semestre.Nombre}"></option>
                </select>
                
                <label>Pais</label>
                <select id="ddlPais" th:field="*{Direccion.Colonia.Estado.Pais.IdPais}">
                    <option value="0">Seleccione un Pais</option>
                    <option th:each="pais : ${Paises}" th:value="${pais.IdPais}" th:text="${pais.Nombre}"></option>
                </select>
                
                 <label>Estado</label>
                <select id="ddlEstado" th:field="*{Direccion.Colonia.Estado.IdEstado}">
                    <option value="0">Seleccione un Estado</option>
                </select>
               
                 <label>Colonia</label>
                <select id="ddlMunicioio" th:field="*{Direccion.Colonia.IdColonia}">
                    <option value="0">Seleccione un Colonia</option>
                </select>
                 
                 
                <input type="text" th:field="*{Direccion.Calle}">
                <input type="text" th:field="*{Direccion.NumeroExterior}">
                <input type="text" th:field="*{Direccion.NumeroInterior}">
                <input type="text" th:field="*{Direccion.Colonia.IdColonia}">
                <br>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </body>
</html>

<script>
    
    $("#ddlPais").change(function(){
        $.ajax({
            type : "GET" ,
            data: { IdPais : document.getElementById("ddlPais").value},
            dataType: "json" ,
            url : "/Alumno/EstadoGetByIdPais",
            success: function(estados){
                $("#ddlEstado").empty();
                $("#ddlEstado").append('<option value=0>Seleccione un Estado</option>');
                $.each(estados, function(i,estado){
                    $("#ddlEstado").append('<option value='+ estado.idEstado + '>' + estado.nombre + '</option>');
                });
            },
            error: function(){
                alert("Ocurrio un error");
            } 
        });
    });
    
    $("#ddlEstado").change(function(){
        $.ajax({
            type : "GET" ,
            data: { IdEstado : document.getElementById("ddlEstado").value},
            dataType: "json" ,
            url : "/Alumno/ColoniaGetByIdEstado",
            success: function(colonias){
                $("#ddlColonia").empty();
                $("#ddlColonia").append('<option value=0>Seleccione una Colonia</option>');
                $.each(colonias, function(i,colonia){
                    $("#ddlColonia").append('<option value='+ colonia.idcolonia + '>' + colonia.nombre + '</option>');
                });
            },
            error: function(){
                alert("Ocurrio un error");
            } 
        });
    });
      
    function EstadoGetByIdPais(){
        
    }
</script>