<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <h1>CARGA MASIVA</h1>
        
        <form th:action="@{/CargaMasiva/txt}" method="post" enctype="multipart/form-data">
        <label>Carga de Txt</label>
        <input type='file' id='txtFile' name='txtFile'/>
        <button class='btn btn-success'>Cargar</button>
        </form>
         <form th:action="@{/CargaMasiva/excel}" method="post" enctype="multipart/form-data">
        <label>Carga de Excel</label>
        <input type='file' id='excelFile' name='excelFile'/>
        <button class='btn btn-success'>Cargar</button>
        </form>
        
        
         <form th:action="@{/CargaMasiva/excel/Subir}" method="post" enctype="multipart/form-data">
        <button class='btn btn-success'>Subir</button>
        </form>
        
        
        <table> 
            <thead>
                <th>Fila</th>
                <th>Mensaje</th>
            </thead>
            <tbody>
<!--                th:each errores 
                <th th:field="*{Fila}"></th>
                <th th:field="*{Mensaje}"></th>-->
            </tbody>
        </table>
    </body>
</html>
